@import url("https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css");
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}
.markdown-body h1,
.markdown-body h2 {
  border-bottom-color: #313244;
  color: #89b4fa;
}
.markdown-body code {
  background-color: #313244;
  color: #fab387;
}
.markdown-body pre {
  background-color: #11111b;
  border: 1px solid #45475a;
}
.markdown-alert {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-left: 0.25em solid;
  border-radius: 0 4px 4px 0;
}
.markdown-alert-note {
  border-left-color: #89b4fa;
}
.markdown-alert-important {
  border-left-color: #cba6f7;
}
.markdown-alert-warning {
  border-left-color: #f9e2af;
}
