@import url("https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown.min.css");

.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}
.markdown-body h1,
.markdown-body h2 {
  border-bottom-color: #313244;
  color: #89b4fa;
}
.markdown-body h3,
.markdown-body h4 {
  color: #f9e2af;
}
.markdown-body a {
  color: #89dceb;
}
.markdown-body code {
  background-color: #313244;
  color: #fab387;
}
.markdown-body pre {
  background-color: #11111b;
  border: 1px solid #45475a;
}
.markdown-body blockquote {
  border-left: 0.25em solid #b4befe;
  background-color: #313244;
}
